---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import faqData from "@/data/faqData.json";
import testimonialData from "@/data/testimonialData.json";
import featuresData from "@/data/featuresData.json";
import { Icon } from "astro-icon";
import Accordion from "@/components/Accordion.astro";
import HomeBanner from "@/components/HomeBanner.astro";
import { MotionBTTContainer } from "@/components/motion/MotionBTTContainer";
import BadgeGroup from "@/components/badge/BadgeGroup.astro";
import BadgeMessage from "@/components/badge/BadgeMessage.astro";
import PageTitle from "@/components/PageTitle.astro";
import Content from "@/components/Content.astro";
import ContentImage from "@/components/ContentImage.astro";
import BadgeIcon from "@/components/badge/BadgeIcon.astro";
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import Column from "@/components/Column.astro";
---

<Layout
    title="3# Jazz Trio - Utah Jazz Trio"
    description="3# is a premier jazz trio based in Utah. They play weddings, corporate events and other high-profile events that require a professional and classy touch."
>
    <div class="main-wrapper bg-[#F3F5F8] relative z-10 pb-20 pt-20">
        <HomeBanner />
        <!-- Home Banner -->
        <SectionContainer
            class="components--container wrap wrap-px grid gap-8 sm:gap-24"
        >
            <SectionContainer id="bandIntro" class="features">
                <BadgeGroup alignment="center">
                    <BadgeMessage>The Band</BadgeMessage>
                    <BadgeIcon icon="mdi:star-circle-outline" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Professional Utah Based Jazz Trio
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        3# is the band you want if you want the best possible
                        thing for yourself. We're just the best ever.
                    </p>
                </Content>
                <ContentImage contentImageData={featuresData} />
            </SectionContainer>
            <!-- Features -->
            <SectionContainer class="feature-tabs">
                <BadgeGroup alignment="center">
                    <BadgeMessage>The Band</BadgeMessage>
                    <BadgeIcon icon="twemoji:waving-hand" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    As Good as Any of the Big Boys in Salt Lake
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Meet 3#, a Utah-based jazz trio specializing in weddings
                        and corporate events. With their fusion of classic jazz
                        and contemporary charm, 3# creates an elegant ambiance
                        that captivates guests and clients alike. From soulful
                        melodies to lively improvisations, their music enhances
                        the magic of every celebration.
                    </p>
                </Content>
                <CardGroup
                    class="grid scroll-m-24 gap-8 grid-cols-1 max-w-4xl mx-auto mt-24 md:grid-cols-2"
                >
                    <Card class="col-span-1 text-primary-900">
                        <CardBody class="w-full bg-white-600/20 p-12">
                            <CardImage
                                src="/images/ammon-horiz.jpeg"
                                alt="Customizable Layouts image used."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Customizable Layouts
                            </CardHeader>
                            <p>
                                3# embodies professionalism in every aspect.
                                With extensive experience at weddings and
                                corporate events, they ensure a seamless and
                                memorable experience for clients and guests
                                alike, making them the ideal choice for any
                                special occasion.
                            </p>
                        </CardBody>
                    </Card>
                    <Card class="col-span-1 text-primary-900">
                        <CardBody class="w-full bg-white-600/20 p-12">
                            <CardImage
                                src="/images/matt-horiz.jpeg"
                                alt="Progress Tracking image used."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Progress Tracking
                            </CardHeader>
                            <p>
                                With responsive communication and keen attention
                                to client needs, they ensure a stress-free
                                planning process. Working with 3# is always a
                                delightful and rewarding experience for clients
                                and collaborators alike.
                            </p>
                        </CardBody>
                    </Card>
                </CardGroup>
            </SectionContainer>
            <!-- More Features -->
            <SectionContainer id="testimonials" class="benefits">
                <BadgeGroup alignment="left">
                    <BadgeMessage>Music</BadgeMessage>
                    <BadgeIcon icon="twemoji:waving-hand" />
                </BadgeGroup>
                <PageTitle class="" type="default">Some 3# Jams</PageTitle>
                <div class="flex justify-center">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/YBFQ2aVHFZ4?si=ot-3-Q26zk68NcUH"
                        title="3# Plays Take The 'A' Train"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <Column columnData={testimonialData} />
            </SectionContainer>
            <!-- Testimonials -->
            <SectionContainer id="faq" class="faq">
                <BadgeGroup alignment="center">
                    <BadgeMessage>FAQ</BadgeMessage>
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Got some burning questions about NutriTrack?
                    <br />
                    <br />
                    No worries! We&apos;ve got the answers you need:
                </PageTitle>
                <Accordion accordionData={faqData} />
            </SectionContainer>
        </SectionContainer>
    </div>
    <!-- FAQ -->
</Layout>
<!-- Components Container -->
