---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import faqData from "@/data/faqData.json";
// import testimonialData from "@/data/testimonialData.json";
import featuresData from "@/data/featuresData.json";
import Accordion from "@/components/Accordion.astro";
import HomeBanner from "@/components/HomeBanner.astro";
import PageTitle from "@/components/PageTitle.astro";
import Contact from "@/components/Contact.astro";
import Content from "@/components/Content.astro";
import ContentImage from "@/components/ContentImage.astro";
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
---

<Layout
    title="3# Jazz Trio - Utah Jazz Ensemble"
    description="3# is a premier jazz trio based in Utah. They play weddings, corporate events and other events that require a professional and classy touch."
>
    <div class="main-wrapper bg-[#F3F5F8] relative z-10 pb-20 pt-20">
        <HomeBanner />
        <!-- Home Banner -->
        <SectionContainer class="page-banner--container py-16">
            <SectionContainer
                id="about"
                class="features page-banner--inner-container wrap wrap-px"
            >
                <PageTitle class="text-center mx-auto" type="default">
                    Professional Utah-Based Jazz Trio
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        3# has been performing together for over a decade, and
                        brings that wealth of experience to any event.
                    </p>
                </Content>
                <ContentImage contentImageData={featuresData} />
            </SectionContainer>
            <!-- Features -->
            <SectionContainer
                class="feature-tabs page-banner--inner-container wrap wrap-px z-10 pt-20"
            >
                <PageTitle class="text-center mx-auto" type="default">
                    Meet The Band
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Meet 3#, the Utah-based jazz trio specializing in
                        bringing engaging jazz music to every event.
                    </p>
                </Content>
                <CardGroup
                    class="grid scroll-m-24 gap-8 grid-cols-1 max-w-4xl mx-auto mt-24 md:grid-cols-3"
                >
                    <Card class="col-span-1 text-black-900">
                        <CardBody class="w-full bg-primary-800 p-12">
                            <CardImage
                                src="/images/ammon-horiz.jpeg"
                                alt="Ammon Doman playing piano"
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Ammon Doman
                            </CardHeader>
                            <p>
                                A pianist with a passion for jazz harmony and
                                improvisation. Ammon brings a wealth of
                                knowledge with degrees from both Brigham Young
                                University and the University of Northern
                                Colorado in Jazz Piano Performance. Ammon not
                                only has the skills and knowledge, but also
                                brings joy and passion to his playing, which
                                elevates any performance to another level.
                            </p>
                        </CardBody>
                    </Card>
                    <Card class="col-span-1 text-black-900">
                        <CardBody class="w-full bg-primary-800 p-12">
                            <CardImage
                                src="/images/matt-horiz.jpeg"
                                alt="Matt Tippetts playing drums"
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Matt Tippetts
                            </CardHeader>
                            <p>
                                A percussionist and educator with degrees from
                                Brigham Young University and Michigan State
                                University, Matt loves playing and teaching
                                percussion. His groove is undeniably tight, and
                                his knowledge and mastery of style and genre is
                                second to none. Matt brings something special to
                                each and every performance and enhances any
                                piece he plays.
                            </p>
                        </CardBody>
                    </Card>
                    <Card class="col-span-1 text-black-900">
                        <CardBody class="w-full bg-primary-800 p-12">
                            <CardImage
                                src="/images/trevor-bnw.jpeg"
                                alt="Trevor Watson holding the electric bass"
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Trevor Watson
                            </CardHeader>
                            <p>
                                Bassist, educator and military musician, Trevor
                                rounds out the ensemble by holding down the
                                groove and introducing unique sonic flavors to
                                compliment each solo. With a degree from Brigham
                                Young University and a career as a military
                                musician spanning more than a decade, Trevor has
                                the skills to fit into any style as both an
                                ensemble member and soloist.
                            </p>
                        </CardBody>
                    </Card>
                </CardGroup>
            </SectionContainer>
            <!-- Testimonials and music -->
            <SectionContainer
                id="testimonials"
                class="benefits page-banner--inner-container wrap wrap-px z-10 pt-10"
            >
                <PageTitle class="text-center mx-auto pt-3" type="default">
                    Hear What 3# Has to Offer
                </PageTitle>
                <div class="flex justify-center">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/YBFQ2aVHFZ4?si=ot-3-Q26zk68NcUH"
                        title="3# Plays Take The 'A' Train"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <!-- add these back in when we get reviews in -->
                <!-- <Column columnData={testimonialData} /> -->
            </SectionContainer>
            <!-- Contact -->
            <SectionContainer
                id="contact"
                class="page-banner--inner-container wrap wrap-px z-10 pt-20"
            >
                <PageTitle class="text-center mx-auto" type="default">
                    Contact The Band
                </PageTitle>
                <Contact />
            </SectionContainer>
            <!-- Testimonials -->
            <SectionContainer id="faq" class="faq">
                <PageTitle class="text-center mx-auto pt-5" type="default">
                    Frequently Asked Questions
                </PageTitle>
                <Accordion accordionData={faqData} />
            </SectionContainer>
        </SectionContainer>
    </div>
    <!-- FAQ -->
</Layout>
<!-- Components Container -->
