---
import SectionContainer from "./SectionContainer.astro";
import Icon from "astro-icon";
---

<SectionContainer class="flex justify-center">
    <SectionContainer class="request-form">
        <form
            netlify
            netlify-honeypot
            name="request"
            method="POST"
            onsubmit="fathom.trackEvent('form-submit');"
        >
            <p class="hidden">
                <label>
                    Don’t fill this out if you’re human: <input
                        name="bot-field"
                    />
                </label>
            </p>
            <input type="hidden" name="form-name" value="request" />
            <label for="name">Name</label>
            <input id="name" type="text" name="name" />
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required />
            <label for="request"
                >Tell us about your event: date, location, number of attendees,
                hours of music needed, etc. Or just ask a question!</label
            >
            <textarea id="request" wrap="soft" name="request" required
            ></textarea>
            <button type="submit" class="btn btn--secondary">Submit</button>
        </form>
    </SectionContainer>
    <br />
</SectionContainer>
<SectionContainer class="flex justify-center">
    <a
        role="button"
        href="https://www.instagram.com/3sharptrio"
        target="_blank"
    >
        <Icon name="mdi:instagram" class="h-12 mr-12 text-secondary-500 flex" />
    </a>
    <a role="button" href="https://www.youtube.com/@3SharpJazz" target="_blank">
        <Icon name="mdi:youtube" class="h-12 mr-12 text-secondary-500 flex" />
    </a>
</SectionContainer>

<style>
    .request-form {
        margin: 40px 40px;
        min-width: 250px;
        width: 45%;
    }
    input,
    textarea,
    button {
        font-size: inherit;
        margin: 15px 0;
        padding: 12px 20px;
        width: 100%;
    }
    .hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
</style>
