---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer class="flex justify-center">
    <div class="request-form">
        <form netlify netlify-honeypot name="request" method="POST">
            <p class="hidden">
                <label>
                    Don’t fill this out if you’re human: <input
                        name="bot-field"
                    />
                </label>
            </p>
            <input type="hidden" name="form-name" value="request" />
            <label for="name">Name</label>
            <input id="name" type="text" name="name" />
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required />
            <label for="request">What is your request?</label>
            <textarea id="request" wrap="soft" name="request" required
            ></textarea>
            <button
                type="submit"
                class="btn btn--secondary"
                onclick="fathom.trackEvent('submit-form');">Submit</button
            >
        </form>
    </div>
</SectionContainer>

<style>
    .request-form {
        margin: 40px 40px;
        min-width: 250px;
        width: 45%;
    }
    input,
    textarea,
    button {
        font-size: inherit;
        margin: 15px 0;
        padding: 12px 20px;
        width: 100%;
    }
    .hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
</style>
