---
import BadgeGroup from "./badge/BadgeGroup.astro";
import BadgeIcon from "./badge/BadgeIcon.astro";
import BadgeMessage from "./badge/BadgeMessage.astro";
import Button from "./button/Button.astro";
import ButtonGroup from "./button/ButtonGroup.astro";
import Content from "./Content.astro";
import SectionContainer from "./SectionContainer.astro";
import PageTitle from "./PageTitle.astro";
import { Image } from "@astrojs/image/components";
---

<SectionContainer class="page-banner--container py-16">
    <SectionContainer class="page-banner--inner-container wrap wrap-px z-10">
        <PageTitle class="text-center mx-auto" type="heavy">
            3# Jazz Trio: a Class Act For a Classy Event
        </PageTitle>
        <Content class="text-center" alignment="center">
            <p>
                Transform your event into an unforgettable experience with the
                3# Jazz Trio
            </p>
        </Content>
        <div class="mt-6 mb-16 text-center">
            <ButtonGroup alignment="center">
                <Button href="#about" variant="secondary">Meet the Band</Button>
                <Button href="#contact" variant="secondary">
                    Book The Band
                </Button>
            </ButtonGroup>
        </div>
        <div class="page-banner--image">
            <Image
                src={"/images/3-sharp-main.jpeg"}
                width={1024}
                height={680}
                alt={"Page Banner"}
                objectFit={"cover"}
                aspectRatio={16 / 9}
                format={"webp"}
                class="mx-auto"
            />
        </div>
    </SectionContainer>
</SectionContainer>
