---
import BadgeGroup from "./badge/BadgeGroup.astro";
import BadgeIcon from "./badge/BadgeIcon.astro";
import BadgeMessage from "./badge/BadgeMessage.astro";
import Button from "./button/Button.astro";
import ButtonGroup from "./button/ButtonGroup.astro";
import Content from "./Content.astro";
import SectionContainer from "./SectionContainer.astro";
import PageTitle from "./PageTitle.astro";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import { MotionBTTContainer } from "./motion/MotionBTTContainer.jsx";
---

<SectionContainer class="page-banner--container py-16">
    <SectionContainer class="page-banner--inner-container wrap wrap-px z-10">
        <BadgeGroup alignment="center">
            <BadgeMessage>3# Jazz</BadgeMessage>
            <BadgeIcon icon="mdi:hand-wave" />
        </BadgeGroup>
        <PageTitle class="text-center mx-auto" type="heavy">
            3# Jazz Trio: a Classy Act For a Classy Event
        </PageTitle>
        <Content class="text-center" alignment="center">
            <p>
                Turn your wedding or corporate event into an amazing event with
                3#{" "}
            </p>
        </Content>
        <div class="mt-6 mb-16 text-center">
            <ButtonGroup alignment="center">
                <Button href="#bandIntro">Meet the Band</Button>
                <a
                    role="button"
                    href="https://github.com/christian-luntok/astro-nutritrack"
                    class="btn btn--secondary"
                >
                    <Icon name="mdi:arrow-right" class="w-6" />
                    Book The Band
                </a>
            </ButtonGroup>
        </div>
        <div class="page-banner--image">
            <Image
                src={"/images/3-sharp-main.jpeg"}
                width={1024}
                height={680}
                alt={"Page Banner"}
                objectFit={"cover"}
                aspectRatio={16 / 9}
                format={"webp"}
                class="mx-auto"
            />
        </div>
    </SectionContainer>
</SectionContainer>
